/* class = .[class]*/

/* fixes default hyperlinks */

a:link, a:visited, a:hover, a:active{
	color: black;
	text-decoration: none;
}
/* replace bullet with middot */
/*
li:before { 
    content: '\b7\a0'; /* \b7 is a middot, \a0 is a space */
/*}
/*
li {
    list-style:none;
    text-indent:-.5em; /* helps make it look more like it's a bullet. */
/*}*/

h1 {
	font-size: 30px;
	/*text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);*/
	font-weight: 400;
	/*overflow: hidden;*/
	width: 90%;
	margin: 2% auto;
}

/*
h1:before, h1:after {
	content: "";
	display: inline-block;
	width: 50%;
	margin: 0 .5em 0 -55%;
	vertical-align: middle;
	/*border-bottom: 1px solid;*/
	/*filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.6))*/
/*}*/

h1:after {
	margin: 0 -55% 0 .5em;
}

p {
	text-align: left;
	margin-left: 10%;
	margin-right: 10%;
	/*margin-top: 12%*/
}
/*
p.headertext{
	text-align: left;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 12%
}
*/
div {
	overflow: hidden;
}
.left{
	text-align: left;
	float: left;
	margin-left: 5%;
	margin-right: 55%;
}

.center{
	float: center;
	margin: center;
	text-align: left;/* centers text */
}

.t{
	font-size: 25px;
	font-family: 'Nanum Myeongjo', serif;
	font-weight: 300;
}

.pen{
	font-size: 25px;
	font-family: 'Nanum Pen Script', cursive;
	font-weight: 300;
}

#background{
	background: url("assets/goodpal.png");
	height: 99%;
	width: 99%;
	/*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
    /*filter: brightness();*/
}
/*
.darken-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
*/
#headerbox{
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);/* bottom left shadow */
	/*margin: auto;/* centers both sides same margin */
	width: 25%;/* width */
	/*padding: 1px;/* margin */
	border-radius: 20px;/* box corners */
	text-align: center;/* centers text */
	background: linear-gradient(45deg, #ff8d4c, #ff4c87, #5a4cff)/* cool gradient */
}

#current{
	font-weight: 900;
}

#bodybox{
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);/* bottom left shadow */
	/*margin: auto;/* centers both sides same margin */
	width: 25%;/* width */
	/*padding: 1px;/* margin */
	border-radius: 20px;/* box corners */
	background: linear-gradient(45deg, #a0ff6d, #6dffe4, #5a4cff)/* cool gradient */
}

#footerbox{
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);/* bottom left shadow */
	margin: auto;/* centers both sides same margin */
	width: 50%;/* width */
	/*padding: 1px;/* margin */
	border-radius: 20px;/* box corners */
	text-align: center;/* centers text */
	background: linear-gradient(45deg, #ff8d4c, #ff4c87, #5a4cff)/* cool gradient */
}

